@model ProjectMini.Models.ChangePass
@{
    ViewBag.Title = "ChangePassword";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Change Password</h2>

            <div>
                @using (Html.BeginForm(null,null,FormMethod.Post,new {@class="p-3"}))
                {
                    <div class="text-danger">
                        @Html.ValidationSummary(true)
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Old Password</label>
                        
                            @Html.PasswordFor(p => p.OldPassword,new {@class ="form-control"})
                            @Html.ValidationMessageFor(p => p.OldPassword, null, new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">New Password</label>
                       
                            @Html.PasswordFor(p => p.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(p => p.NewPassword, null, new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Confirm Password</label>

                        @Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.ConfirmPassword, null, new { @class = "text-danger" })

                    </div>

                    <div class="text-center">
                        <input type="submit" value="Update Password" class="btn btn-primary px-4"/>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

